.container{
    display: block;
    text-align: center;
    font-size: 90px;
    color: whitesmoke;
    position: absolute;
    box-sizing: content-box;
    justify-content: center;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    font-family: 'Monofett', cursive;
    padding: auto;
    margin-top: 200px;


}

#selfCon{
    margin: auto;
    color:darkblue;
    background-color: white;


}



body{
background-color:  cornflowerblue;



}